{% extends 'base.html' %}

{% block title %}Judging{% endblock %}

{% block style %}


{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="span12">
			<div id="legend">
				<legend class="">Games</legend>
			</div>


			{% for game in games_list %}
			<h4>
				{% if game.id in games_scored%}
				<font color="green">
					<form id="form-id" method="post" action="/judge_game/">
						{% csrf_token %}
						<input type="hidden" value="{{ game.id }}" name="game_name">
						<input type="submit" value="{{game.name}}" />
						<!-- <a href="judge_game" onclick="document.getElementById('form-id').submit();"> {{game}} </a> -->
					</form>
					{%else%}
					<font>
						<form id="form-id" method="post" action="/judge_game/">
							{% csrf_token %}
							<input type="hidden" value="{{ game.id }}" name="game_name">
							<input type="submit" value="{{game.name}}" />
							<!-- <a href="judge_game" onclick="document.getElementById('form-id').submit();"> {{game}} </a> -->
						</form>
						{% endif %}
					</font>
				</h4>
				{% endfor %}
				<hr />

				{% endblock %}

			</div>
		</div>
	</div>
	<form id="form-id" method="post">
		<li>
			<input type="hidden" value="{{ game }}" name=game.name>
			<a href="/judge_game" onclick="document.getElementById('form-id').submit();"> {{game}} </a>
		</li>
	</form>