{% extends 'base.html' %}

{% block title %}Success{% endblock %}

{% block style %}


{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="span12">
			<fieldset>
				<div id="legend">
					<legend class=""><h2>Submitted!</h2></legend>
				</div>
				<div class="control-group">
					<div class="controls">
						<a href="/registrar/"" class="btn btn-success" role="button">Continue</a>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

{% endblock %}